<%- include('../partials/header'); %> 

<section class="section home-section">
    <p class="home-text text-uppercase text-center">On 3/24/2022 the highest price for one bitcoin for the day was</p>
    <p class="home-text2 text-uppercase text-center">44,297.20</p>
    <div class="text-center">
        <img src="/media/swim-in-it.gif" alt="">
    </div>
</section>

<%- include('../partials/footer'); %> 